.header{
    background-color: #3C9D9B;
}
.logo{
    color: white !important;
    font-weight: bold;
    font-size: 25px !important;
}
.auth{
    margin: 0 10px 0 10px;
    color: white
}
.content{
    margin-top: 20px;
}